.appWrapper {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  
  
.movieWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
  }
  .sliderContainer.heroSectionContainer {
    height: 92vh;
    margin-top: 90px;
    width: 100%;
  }
  .sliderContainer.heroSectionContainer .swiper-container {
    height: 100%;
  }

  .sliderContainer.heroSectionContainer .movieImage {
    border-radius: 0;
  }
.sliderContainer.heroSectionContainer .movieImageOverlay {
  position: absolute;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: block;
}
.movieImageOverlay {
  display: none;
}
  .sliderContainer.heroSectionContainer,
  .sliderContainer.heroSectionContainer .swiper-slide {
    padding: 0;
  }
  .sliderContainer.heroSectionContainer .contentContainer .movieImage {
    position: relative;
  }
  .sliderContainer.heroSectionContainer .swiper-button-next.swiper-buttons-added-class,
  .sliderContainer.heroSectionContainer .swiper-button-prev.swiper-buttons-added-class {
    border-radius: 35px;
    background-color: #fff;
    top: 45%
  }
  .swiper-container {
    border-bottom: 1px solid #000;
  }
  .sliderContainer.heroSectionContainer .aboutMovieContentContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 100px;
    z-index: 10;
    font-size: 1.4rem;
    color: #fff;
    display: block;
  }
  .sliderContainer.heroSectionContainer .titleHeading {
    display: none;
  }
  .sliderContainer.heroSectionContainer .aboutMovieContentContainer .titleHeading {
    display: block;
  }
  @media screen and (max-width: 860px) {
    .sliderContainer.heroSectionContainer .aboutMovieContentContainer {
      padding: 20px;
    }
    .sliderContainer.heroSectionContainer .aboutMovieContentContainer .titleHeading {
      font-size: 3rem;
      padding: 0;
      border-top: 1px solid #fff;
    }
    .sliderContainer.heroSectionContainer .aboutMovieContentContainer p {
      font-size: 1.4rem;
    }
    .sliderContainer.heroSectionContainer {
      margin-top: 120px;
      height: 100%;
    }
    .sliderContainer.heroSectionContainer .swiper-container {
      height: 40vh;
    }
    .movieWrapper {
      width: 100%;
    }
  }
