.appWrapper {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  
  
.movieWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
  }
  .sliderContainer.heroSectionContainer {
    height: 92vh;
    margin-top: 95px;
  }
  .sliderContainer.heroSectionContainer .swiper-container {
    height: 100%;
  }
  .sliderContainer.heroSectionContainer,
  .sliderContainer.heroSectionContainer .swiper-slide {
    padding: 0;
  }
  .sliderContainer.heroSectionContainer .contentContainer .movieImage {
    position: relative;
    top: 50px;
  }
  .sliderContainer.heroSectionContainer .swiper-button-next.swiper-buttons-added-class,
  .sliderContainer.heroSectionContainer .swiper-button-prev.swiper-buttons-added-class {
    border-radius: 35px;
    background-color: #fff;
  }
  .swiper-container {
    border-bottom: 1px solid #000;
  }
