.sliderContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 0;
  }

.sliderTitle {
    font-size: 40px;
    color: #000;
    padding-bottom: 10px;
    width: 100%;
}
.heroSectionContainer .sliderTitle {
  padding: 0;
}

.heroSectionContainer .aboutMovieContentContainer {
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}
.aboutMovieContentContainer .titleHeading {
  font-size: 3rem;
  color: #fff;
}
.aboutMovieContentContainer p {
  padding: 5px 0;
}
.aboutMovieContentContainer {
  display: none;
}