.favoriteButton {
    color: white;
    font-size: 3rem;
    margin: 0 auto;
  }

  .favoriteButton p {
    align-items: center;
    display: flex;
    width: 150px;
    overflow: hidden;
  }
  @media screen and (max-width: 860px) {
    .favoriteButton p {
        width: auto;
    }
    .favoriteButton p  span {
        display: none;
    }
  }
  .favoriteButton p:hover svg,
  .favoriteButton p:hover span {
      cursor: pointer;
      color: rgb(0, 143, 238);
  }
  .favoriteButton p:hover svg {
    color: rgb(0, 143, 238);
  }
  .favoriteButton p:hover span {
    transform: translateX(0);
    height: auto;
}
.favoriteButton span {
    padding-left: 20px;
    font-size: 2rem;
    transition: all ease-in-out 100ms;
    transform: translateY(-30px);
    cursor: pointer;
}