.navWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    position: relative;
    padding: 30px;
    background: #011c3a;
    box-shadow: 0px 5px 10px 1px #070707;
}
.title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding-right: 20px;
}
.hiddenButton {
    display: none;
}
.mainUl {
    display: flex;
}
.mainLinksWrapper {
    display: flex;
    align-items: center;
}
.mainListLinks {
    list-style: none;
    padding: 0 15px;
}
.farLeftLinkWrapper {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}
@media only screen and  (max-width: 860px) {
   .navWrapper {
       flex-flow: row wrap;

   }
    .farLeftLinkWrapper {
        width: 100%;
        justify-content: center;
    } 
    .navWrapper .userAccountLoginContainer {
        display: none;
    }
    .navWrapper .searchForm {
        width: 100%;
    }
    .navWrapper .searchBoxWrapper {
        width: 100%;
        position: relative;
        left: 20px;
    }
    .navWrapper .title {
        padding: 0;
    }
}
.userAccountLoginContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}
.styledReactLink {
    font-size: 1.6rem;
    letter-spacing: .5px;
    color: #fff;
    text-decoration: none;
}
.searchBoxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.searchForm { 
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50%;
    margin: 0 auto;
}
.inputSearchField {
    font-size: 1.4rem;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    outline: none;
    background-color: rgb(255,255,255);
    border-bottom: 3px solid #fff;
    color: #000;
    padding-left: 20px;
    height: 100%;
    width: 100%;
}
.reactRouterLink {
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    background-color: #02cf5b;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all ease-in-out 300ms;
    margin-left: 0;
    right: 50px;
    font-size: 2rem;
    height: 100%;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

