@import url('https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web:600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
}
html {
    height:100%;
}

body {
    font-size: 10px;
    width: 100%;
    background: rgb(13, 13, 13);
    background-repeat: no-repeat;
}
input::placeholder {
    color: #000;
}
button:hover {
    cursor: pointer;
    background-color: #ffbc00;
    color: rgb(0, 0, 0);
}