@import url('https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web:600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
}

html {
    height: 100%;
    font-size: 10px;
}

a {
    text-decoration: none;
    transition: all ease-in-out 120ms;
}

a:hover,
a:hover h2 {
    color: rgb(0, 143, 238);
}

body {
    width: 100%;
    background: #d6d6d6;
    background-repeat: no-repeat;
}

input::placeholder {
    color: #000;
    font-size: 2rem;
}

button:hover {
    cursor: pointer;
    color: #251246;
}

form a:hover {
    color: #000;
    cursor: pointer;
}

.swiper-wrapper {
    display: flex;
    align-items: flex-start;
}

.swiper-button-next.swiper-buttons-added-class,
.swiper-button-prev.swiper-buttons-added-class {
    background-color: #d6d6d6;
    padding: 25px;
    top: 35%;
    border-radius: 30px;
}

.swiper-button-next.swiper-buttons-added-class {
    right: 15px;
}

.swiper-button-prev.swiper-buttons-added-class {
    left: 15px;
}

@media screen and (max-width: 860px) {
    .mainUl {
        display: none !important;
    }
}